# Environnement de l'application
NODE_ENV=development
PORT=4000

# Base de données PostgreSQL locale (Docker)
DATABASE_URL="postgresql://inventa_user:inventa_secret_password@localhost:5432/inventa_db?schema=public"

# Redis local (Docker)
REDIS_URL="redis://localhost:6379"

# Sécurité & CORS
JWT_SECRET="inventa_local_super_secret_jwt_key_2026_change_in_production"
CORS_ORIGIN="http://localhost:5173,http://localhost:3000,https://inventa.bayecode.com"

# Paiement Wave Business
WAVE_MERCHANT_BASE_URL="https://pay.wave.com/m/M_sn_rcEoxhsoOgeM/c/sn/"
WAVE_WEBHOOK_SECRET="votre_wave_webhook_secret_ici"

# SMTP Hostinger (Emails transactionnels)
SMTP_HOST="smtp.hostinger.com"
SMTP_PORT=465
SMTP_USER="inventa@bayecode.com"
SMTP_PASS="votre_mot_de_passe_smtp"
SMTP_FROM="Inventa <inventa@bayecode.com>"
